<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="container sidebar-position-left
  page-home">
    <div class="headband"></div>
    <header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="header-inner">
            <div class="site-brand-wrapper">
                <div class="site-meta ">


                    <div class="custom-logo-site-title">
                        <a href="/" class="brand" rel="start">
                            <span class="logo-line-before"><i></i></span>
                            <span class="site-title">wuYinBlog</span>
                            <span class="logo-line-after"><i></i></span>
                        </a>
                    </div>

                    <p class="site-subtitle">Simple Brilliant.</p>

                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>