.container {
    position: relative;
    min-height: 100%;
}

.headband {
    display: none;
    height: 3px;
    background: #222222;
}

.header {
    background: #f5f5f5;
}

.header-inner {
    padding: 25px 0 20px;
    position: relative;
    margin: 0 auto;
    width: 700px;
}

.header-inner:before, .header-inner:after {
    content: " ";
    display: table;
}

.header-inner:after {
    clear: both;
}

.site-meta {
    float: left;
    margin-left: -20px;
    line-height: normal;
}

