.container {
    position: relative;
    min-height: 100%;
}

.headband {
    display: none;
    height: 3px;
    background: #222222;
}

.header {
    background: #f5f5f5;
}

.header-inner {
    padding: 25px 0 20px;
    position: relative;
    margin: 0 auto;
    width: 700px;
}

.header-inner:before, .header-inner:after {
    content: " ";
    display: table;
}

.header-inner:after {
    clear: both;
}

.site-meta {
    float: left;
    margin-left: -20px;
    line-height: normal;
}

.site-meta {
    margin: 0;
    text-align: left;
}

.site-meta .brand {
    padding: 2px 1px;
    background: none;
}

.brand {
    position: relative;
    display: inline-block;
    padding: 0 40px;
    color: #222222;
    background: #222222;
    border-bottom: none;
}

a {
    color: #555555;
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
}

.logo-line-before .logo-line-after {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 75%;
}

.logo-line-before i, .logo-line-after i {
    position: relative;
    display: block;
    height: 2px;
    background: #222222;
}

i {
    font-style: italic;
}

.site-meta .site-title {
    font-size: 22px;
    font-weight: bolder;
}

.site-title {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.site-subtitle {
    display: none;
}

.site-subtitle {
    margin-top: 10px;
    font-size: 13px;
    color: #999999;
}

p {
    margin: 0 0 2px 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.site-nav-toggle {
    position: static;
    float: right;
}

.site-nav-toggle {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

.site-nav-toggle button {
    margin-top: 2px;
    padding: 9px 10px;
    background: transparent;
    border: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.btn-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #555;
    border-radius: 1px;
    text-shadow: 0 0 black;
}

.btn-bar + .btn-bar {
    margin-top: 4px;
}

@media (min-width: 992px) {

}

.site-nav {
    display: block !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

nav {
    display: block;
}

.menu {
    float: right;
    margin: 8px 0 0 0;
}

.menu {
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.menu .menu-item {
    margin: 0;
}

.menu .menu-item {
    display: inline-block;
    margin: 0 10px;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.menu .menu-item a {
    padding: 0 10px;
    background: none;
    border: none;
    border-radius: 2px;
    transition-property: background;
}

.menu .menu-item a {
    display: block;
    font-size: 13px;
    line-height: inherit;
    border-bottom: 1px solid transparent;
    transition-property: border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.menu a:hover {
    text-align: ;
}

a {
    border-bottom-color: #ccc;
}

a {
    color: #555;
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
}

a {
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.menu .menu-item .fa {
    margin-right: 5px;
}

.fa {
    font-family: FontAwesome !important;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-home:before {
    content: "\f015";
}


.menu br {
    display: none;
}