.container {
    position: relative;
    min-height: 100%;
}

.headband {
    display: none;
    height: 3px;
    background: #222222;
}

.header {
    background: #f5f5f5;
}

.header-inner{
    padding: 25px 0 20px;
    position: relative;
    margin: 0 auto;
    width: 700px;
}