.container {
    position: relative;
    min-height: 100%;
}

.headband {
    display: none;
    height: 3px;
    background: #222222;
}

.header {
    background: #f5f5f5;
}

.header-inner {
    padding: 25px 0 20px;
    position: relative;
    margin: 0 auto;
    width: 700px;
}

.header-inner:before, .header-inner:after {
    content: " ";
    display: table;
}

.header-inner:after {
    clear: both;
}

.site-meta {
    float: left;
    margin-left: -20px;
    line-height: normal;
}

.site-meta {
    margin: 0;
    text-align: left;
}

.site-meta .brand {
    padding: 2px 1px;
    background: none;
}

.brand {
    position: relative;
    display: inline-block;
    padding: 0 40px;
    color: #222222;
    background: #222222;
    border-bottom: none;
}

a {
    color: #555555;
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
}

.logo-line-before .logo-line-after {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 75%;
}

.logo-line-before i, .logo-line-after i {
    position: relative;
    display: block;
    height: 2px;
    background: #222222;
}

i {
    font-style: italic;
}

.site-meta .site-title {
    font-size: 22px;
    font-weight: bolder;
}

.site-title {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

